################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/default-application/default-asp-net3.1/BasicWebApplication/obj
/default-application/default-asp-net3.1/BasicWebApplication/bin
default-application/default-asp-net3.1/.vs/default-asp-net3.1/v16/.suo
default-application/default-asp-net3.1/BasicWebApplication/BasicWebApplication.csproj.user
default-application/default-asp-net3.1/.vs/default-asp-net3.1/v16/.suo
