################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/default-application/default-asp-net3.1/BasicWebApplication/obj
/default-application/default-asp-net3.1/BasicWebApplication/bin
